@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;600;800&display=swap');

:root {
    --mukta-font: 'Mukta', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #303030;
}

.container {
    /* background-color: #fff; */
    padding: 1rem 3rem;
    /* box-shadow: -20px 20px #ffffff6e; */
}

.title-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--mukta-font);
}

.title-wrapper h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #d19245;
}

.title-wrapper h2 {
    color: #fff;
    font-size: 2rem;
}

.gameboard {
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.2rem 0.2rem;
    background-color: #b8b8b8;
}

.checkbox {
    background-color: #303030;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    font-weight: 800;
    transition: all ease 0.2s;
    color: white;
    position: relative;
}

.checkbox:hover, .checkbox:focus {
    background-color: #404040;
    outline: none;

}

.checkbox:hover:after {
    display: inline;
}

.checkbox::after {
    content: attr(data-marker);
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    left: 0%;
    top: 8px;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.2);
    display: none;
}

.checkbox.filled:hover {
    background-color: #303030;
}

.filled::after {
    content: "";
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    column-gap: 0.2rem;
    margin-top: 2rem;
}

.controls button {
    flex: 1 1 0;
    margin: 1rem 0;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid #d19245;
    color: #d19245;
    font-weight: 600;
    padding: 0.1rem;
    cursor: pointer;
    transition: all ease 0.2s;
}

.controls button.active {
    background-color: #d19045;
    color: white;
}

.bottom-container {
    text-align: center;
    margin-top: 2rem;
    color: #fff;
}

.bottom-container a {
    font-family: var(--mukta-font);
    color: #fff;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    background-color: #cacaca63;
}

.modal {
    background-color: #3f3f3fee;
    text-align: center;
    font-family: var(--mukta-font);
    padding: 1rem 4rem;
    border-radius: 4px;
    color: white;
    opacity: 0;
    transition: all ease 1s;
    transform: scale(0.5);
}

.modal h1 {
    font-size: 2rem;
}

.modal p {
    font-weight: 100;
    position: relative;
    bottom: 0.8rem;
}

.modal button {
    padding: 0.5rem 1.5rem;
    background-color: #575757;
    border: none;
    color: #ffffff;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #ffbc6f;
}

.hidden {
    display: none;
}

@media screen and (min-width: 1700px) {
    html {
        font-size: 120%;
    }
}
@media screen and (max-width: 468px) {
    html {
        font-size: 80%;
    }
}